################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cinema.Api.Artists/bin/Debug/netcoreapp2.2
